#![enable(implicit_some)]
Container(
    transform: (
        id: "background",
        anchor: Middle,
        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
        width: 20.0,
        height: 20.0,
    ),
    children: [
        Container(
            transform: (
                id: "game_info",
                anchor: TopRight,
                x: -100.0,
                y: -16.0,
                width: 200.0,
                height: 32.0
            ),
            background: SolidColor(1.0, 1.0, 1.0, 0.5),
            children: [
                Label(
                    transform: (
                        id: "fps",
                        y: -16.0,
                        height: 32.,
                        anchor: TopMiddle,
                        stretch: X(x_margin: 0.0),
                        transparent: true,
                    ),
                    text: (
                        text: "",
                        font: File("fonts/PxPlus_IBM_VGA8.ttf", ("TTF", ())),
                        font_size: 24.,
                        color: (0.0, 0.0, 0.0, 1.0),
                    )
                ),
            ]
        )
    ],
)
