(
    spritesheet_width: 256,
    spritesheet_height: 512,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 45,
            height: 64,
        ),
        (
            x: 45,
            y: 0,
            width: 45,
            height: 64,
        ),
        (
            x: 90,
            y: 0,
            width: 45,
            height: 64,
        ),
        (
            x: 135,
            y: 0,
            width: 45,
            height: 64,
        ),
        (
            x: 180,
            y: 0,
            width: 45,
            height: 64,
        ),
    ],
)