(
    player: (
        move_speed: 5.0,
        move_num_frames: 3,
        move_tick: 0.1,
        animation_offsets: (0, 1, 4, 7, 10, 13, 16, 19, 22)
    ),
    game: (
        tick_delta: 0.1,
        map_height: 25,
        map_width: 25,

        tile_height: 20,
        tile_width: 32,
        tile_offset: 4,

        map_move_speed: 10.0,
    ),
)