(
    player: (
        move_speed: 5.0,
        move_num_frames: 3,
        move_tick: 0.1,
    ),
    game: (
        map_height: 10,
        map_width: 10,
        tile_height: 256,
        tile_width: 256,
        map_move_speed: 10.0,
    ),
)