(
    actions: [
        Action(
            name: "scout",
            cost: 1,
            pre: {
                Has("gun"): true
            },
            post: {
                Visible("enemy"): true
            }
        ),
        Action(
            name: "approach",
            cost: 1,
            pre: {
                Visible("enemy"): true
            },
            post: {
                Near("enemy"): true
            }
        ),
        Action(
            name: "shoot",
            cost: 1,
            pre: {
                Visible("enemy"): true,
                HasProperty("weapon", "loaded"): true
            },
            post: {
                Alive("enemy"): false
            }
        ),
        Action(
            name: "load",
            cost: 1,
            pre: {
                Has("gun"): true
            },
            post: {
                HasProperty("weapon", "loaded"): true
            }
        ),
        Action(
            name: "detonatebomb",
            cost: 1,
            pre: {
                Has("bomb"): true,
                Near("enemy"): true
            },
            post: {
                Alive("enemy"): false,
                Alive("me"): false
            }
        ),
        Action(
            name: "flee",
            cost: 1,
            pre: {
                Near("enemy"): true
            },
            post: {
                Near("enemy"): false
            }
        )
    ]
)