(
    spritesheet_width: 1280,
    spritesheet_height: 512,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 256,
            height: 512,
        ),
        (
            x: 0,
            y: 256,
            width: 256,
            height: 512,
        ),
    ],
)